body{
    margin: 0;
    padding: 0;
}

#game{
    background: url("images/Background.jpg");
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

#pipe{
    background: url("images/Pipe.png") center;
    height: 100vh;
    width: 45px;
    position: relative;
    bottom: 143px;
    animation: pipe-movement 4s linear infinite;
}

#bird{
    background: url("images/Bird.png") no-repeat;
    background-size: contain;
    position: absolute;
    height: 120px;
    width: 50px;
}

#hole{
    background: url("images/Hole.jpg") no-repeat;
    background-size: contain;
    position: relative;
    top: -600px;
    height: 200px;
    width: 100px;
    animation: pipe-movement 4s linear infinite;
}

@keyframes pipe-movement {
    0% {left: 100vw;}
    100% {left: -50px;}
}

@keyframes hole-movement {
    0% {left: 100vw;}
    100% {left: -50px;}
}